html{
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}
:root{
  --background: #22213c;
  --purple: #7675ED;
  --pink: #E2C2C6;
  --yellow: #FFCC40;
  --white: #E1E5F2;
  --ewb: #fe6002;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background: var(--background);
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;  
}
h1{
  font-size: 80px;
  font-style: normal; 
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
}
h2{
  font-size: 30px;
  font-weight: 400;
  font-style: normal; 
  font-family: "Staatliches", sans-serif;
}
h3{
  font-size: 20px;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

p{
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

a{
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  color: white;
  transition: all 0.3s ease;
}
a:hover{
  --webkit--cursor: pointer;
  cursor: pointer;
  //transform: scaleY(1.05);
}
button{
  text-align: center;
  font-family: "Staatliches", sans-serif;
  padding: 10px 25px;
  font-weight: 800;
  background: var(--white);
  color: var(--background);
  border: 2px solid var(--yellow);
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}
button:hover{
  cursor: pointer;
  background: var(--contrastclr);
  color: var(--backgroundclr);
}
@media only screen and (max-width:1200px){
  #herobutton{
    font-size: 10px;
  }
  #skills{
    font-size: 10px;
  }
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size:15px;
  }
  p{
    font-size: 10px;
  }
}
@media only screen and (max-width:850px){
  #herobutton{
    border-radius: 15px;
    padding: 10px 20px;
  }
  #skills{
    font-size: 8px;
  }
}