.main {
  background-image: url('../assets/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 60vh;
}
.mainAbout{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroLogo{
  width: 55%;
  height: auto;
  margin-top: 10%;
  background: rgba(0,0,0,0.5);
  border-radius: 250px;
  box-shadow: 0px 0px 10px var(--white), 0px 0px 40px var(--pink); 
}
.aboutText{
  height: 80%;
  width: 55%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid white;
  border-radius: 20px;
  background: rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px var(--pink); 
}
.aboutText h1{
  font-size: 60px;
}

.work{
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
.rightContainer{
  flex: 60%;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leftContainer iframe{
    height: 30vw;
    width: 50vw;
}
.rightContainer h1{
  font-size: 40px;
}
.rightContainer span{
  border-radius: 3px;
  padding: 0px 5px;
  background: linear-gradient(90deg, rgba(255,0,9,1) 0%, rgba(219,0,148,1) 48%, rgba(255,149,0,1) 100%);
}
.rightContainer span:hover{
  color: linear-gradient(90deg, rgba(255,0,9,1) 0%, rgba(219,0,148,1) 48%, rgba(255,149,0,1) 100%);
}
#estate{
  flex: 45%;
  padding: 5% 5% 2% 10%;
}
.leftContainer{
  flex: 40%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
}
.leftContainer h1{
  font-size: 40px;
}
#estateLeft{
  background: url('../assets/about.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: var(--background);
}
#estateLeft h2{
  padding: 5px 15px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(255,0,9,1) 0%, rgba(219,0,148,1) 48%, rgba(255,149,0,1) 100%);
}
#estateLeft p, .leftContainer p{
  width: 80%;
}
#estateRight{
  background: linear-gradient(90deg, rgba(255,213,78,0.4) 0%, rgba(255,255,255,0) 50%), url('../assets/smallwind.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#estateRight h1{
  background: var(--background);
  border-radius: 10px;
  padding: 0px 15px;
}
.borderWrap{
  width:80%;
  height: 90%;
  border-radius: 20px;
  background: rgba(0,0,0,0.2);
  border: 3px solid var(--white);
  box-shadow: 0px 0px 20px var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sponsorWrap{
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background: var(--white);
  color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapDiv{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
}
#subteamSection{
  background: var(--pink);
  color: var(--background);
  border: 5px solid var(--white);
  width: 90%;
  box-shadow: 0px 0px 30px var(--white);
}
.third{
  flex: 100%;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: 0.5s all ease;
}
.third svg{
  font-size: 100px;
}
.third:hover{
  background: var(--white);

}
@media only screen and (max-width: 1200px){
  .work{
    height: 40vh;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .videoplayer{
    height: 50%;
  }
  #estateLeft, #estateRight{
    width: 100%;
    height: 50vh;
  }
  .third svg{
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px){
    .aboutText{
      width: 80%;
      height: 100%;
      padding-bottom: 10%;
    }
    .borderWrap{
      WIDTH: 95%;
      height: 110%;
    }
    .mainAbout{
      height: 100%;
    }
    .heroLogo{
      width: 100%;
    }
    .leftContainer{
      padding-right: 0;
    }
    .leftContainer iframe{
      width: 75vw;
      height: 47vw;
    }
    .aboutText h1{
      font-size: 40px;
    }
    .aboutText h3, .rightContainer h3{
      font-size: 15px;
    }
    #estate{
      width: 80%;
    }
    .work{
      height: 70vh;
      display: flex;
      flex-direction: column;
    }
    .rightContainer, .leftContainer{
      width: 80%;
      padding-bottom: 5%;
    }
    
    .leftContainer h1, .rightContainer h1{
      font-size: 30px;
    }
    .videoplayer{
      height: 70%;
    }
    #estateLeft{
      background-size: cover;
      background-position: center;
      //padding: 150px 0px;
    }
    #estate{
      padding-left: 5%;
    }
    .wrapDiv{
      width: 90%;
    }
    .sponsorWrap{
      padding: 0px 10px;
    }
}